@media screen and (max-width:1140px) {
    body {
/*         overflow-x: hidden; */
    }
    
    header {
        top:0;
        animation-name: none;
    }

    header .wrap {
        background-color: transparent;
        width: 100%;
        animation-name: none;
    }
    
    header .wrap nav h1, header .wrap nav{
        background-color: transparent;
    }
    
    header .wrap nav h1 a {
        color: white;
    }
    
    header .wrap nav h1 a  span{
        background-image: url(../img/logo-white.png);
    }
    
    header .wrap nav ul.gnb {
        display: none;
    }

    header .wrap nav > div:nth-of-type(1) {
        display: none;
    }
    
    div.wgnb {
        display: none;
    }
    
    header .hmenu {
        display: block;
    }
    
/*  타이틀    */
    div#title {  
        min-height: 100%;
        height: 100%;
    }
    
    div#title .wrap hgroup h3 {
        text-align: center;
    }
    
    .wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    
/*   비즈니스   */
    #business .wrap {
        padding-top: 50px;
    }
    
    .paddingB100 {
        padding-bottom: 50px;
    }
    
    #business .wrap article {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
    }
    
    #business .wrap article h3 {
        order: 2;
    }
    
    #business .wrap article p {
        order: 3;
    }
    
    #business .wrap article p span {
        display: none;
    }
    
    #business .wrap article a {
        order: 4;
    }
    
    #business .wrap article:nth-of-type(1)::after {
        position: static;
        width: 100%;
        height: 61.40350877192982vw;
        order: 1;
    }
    
    #business .wrap article:nth-of-type(2) {
        padding: 50px 0;
    }
    
    #business .wrap article:nth-of-type(2)::after {
        display: none;
    }
    
    #business .wrap article:nth-of-type(2)::before {
        position: static;
        width: 100%;
        height: 57.01754385964912vw;
    }
    
    #business .wrap article:nth-of-type(3) {
        padding: 17.54385964912281vw 0;
        padding-left: 15px;
    }
/*  그린    */
    #green .wrap h2 {
        margin-bottom: 7.017543859649123vw; 
    }
    
    #green .wrap ul {
        flex-direction: column;
    }
    
    #green .wrap ul li {    
        width: auto;
    }
    
    #green .wrap ul li::before {
        /*! height: 36.84210526315789vw; */
    }
    
    #green .wrap ul li p span {
        display: none;
    }
    
    #green .wrap a.siteview {
        transform: scale(0.7);
        margin-left: auto;
        transform-origin: 100%;
    }
    
    .paddingT100 {
        padding-top: 20px;
    }
    
    .marginB50 {
        margin-bottom: 15px;
    }
    
    .moreCir {
        width: 35px;
        height: 35px;
    }
    
/*  about    */
    #about .wrap ul {
        flex-direction: column;
        margin-bottom: 20px;
        row-gap: 20px;
    }
    
    #about .wrap ul li {
        width: auto;
    }
    
    #about .wrap ul li:nth-child(2) {
        border: none;
    }
    
    #about .wrap ul li h3 {
        line-height: 2;
    }
/*  recco    */
    #recco {
        margin-top: 0;
    }
    
    #recco .wrap {
        flex-direction: column;
    }
    
    #recco .wrap article {
        width: auto;
        border: none;
    }
    
    #recco .wrap article.recruit::before {
    height: 67.45614035087719vw;
    width: 28.33333333333333vw;
    }
    
    #recco .wrap article.recruit::after {
        height: 30vw;
    }
    
    #recco .wrap article.recruit hgroup h2 {
        padding: 15.78947368421053vw 0;
        padding-left: 8.771929824561404vw;
    }
    
    #recco .wrap article.recruit hgroup h3 {
        margin-left: 8.771929824561404vw;
        margin-top: 8.771929824561404vw;
        margin-bottom: 2.631578947368421vw;
    }
    
    #recco .wrap article.recruit > :not(hgroup) {
        margin-left: 8.771929824561404vw;
    }
    
    #recco .wrap article.recruit a {
        margin-bottom: 8.771929824561404vw;
        margin-top: 30px;
    }
    
    #recco .wrap article.corpo {
        height: 90.74630434782609vw;
    }
    
    .paddingB50 {
        padding: 20px;
    }
/*  뉴스  */
    #news .wrap {
        display: block;
    }
    
    #news .wrap h2 {
        text-align: center;
    }
    
    #news .wrap article a {
        display: flex;
        flex-direction: column;
    }
    
    #news .wrap article a h3 {
        order: 1;
    }
    
    #news .wrap article a p {
        order: 2;
    }
    
    #news .wrap article a time {
        order: 3;
        display: block; 
    }
    
    #news .wrap article a time span {
        font-size: inherit;
    }
    
    #news .wrap article a > span {
        display: none;
    }
    
/*  stockir   */
    #stockir .wrap {
        flex-direction: column;
        gap: 20px;
    }
    
    #stockir .wrap article {
        width: auto;
    }
    
    #stockir .wrap article.stock {
        border: none;
        padding-right: initial;
    }
    
    #stockir .wrap article.ir {
        padding-left: initial;
    }
    
    #stockir .wrap article.ir ul li a {
        line-height: 2;
    }
    
/*   office  */
    #office .wrap {
        padding: 0;
    }
    
    #office ul {
        height: 28.50877192982456vw;
    }
/*  하단  */
    footer div.wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    footer div.wrap ul.fnb {
        order: 1;
        /*! justify-content: center; */
        gap: 10px;
    }
    
    footer div.wrap ul.fnb li a {
        
    padding: 0;
    }
    
    footer div.wrap address {
        order: 3;
        font-size: 12px;
    }
    
    footer div.wrap p.copyright {
        order: 4;
        font-size: 12px;
    }
    
    footer div.wrap div.corp {
        order: 2;
        width: 100%;
    }
    
    footer div.wrap div.corp ul {
        display: flex;
        justify-content: center;
        gap: 30px;
        transform: scale(0.8);
    }
    
    footer div.wrap div.corp ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer div.wrap div.corp ul li a::before {
        margin: 0;
    }
}

@media screen and (max-width:1600px) {
    header {
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    #business .wrap {
        padding-top: 9.375vw;
    }
    .paddingB100 {
        padding-bottom: 6.25vw;
    }
    
    .paddingT100 {
        padding-top: 6.25vw;
    }
    
    .paddingT50 {
        padding-top: 3.125vw;
    }
    
/*   business   */
    main section:not(#office) .wrap {   
        padding-left: 40px;
        padding-right: 40px;
    }
    
    #business .wrap article {
        padding: 6.25vw 0;
    }
    
    #business .wrap article:nth-of-type(1)::after {
        width: 43.75vw;
        height: 43.75vw;
    }
    
    #business .wrap article:nth-of-type(2) {  
        padding: 12.5vw 0;
        padding-left: 62.5%;
    }
    
    #business .wrap article:nth-of-type(2)::before {
        width: 36vw;
        height: 40.625vw;
    }
    
    #business .wrap article:nth-of-type(2)::after {
        width: 53.4375vw;
        height: 58.75vw;
        right: 0;
        top: -13.875vw;
    }
    
    #business .wrap article:nth-of-type(3) {
        padding: 12.5vw 0;
        padding-left: 40px;
    }
/*  #recco    */
    #recco {
        margin-top: -100px;
    }
    
    #recco .wrap article.recruit::before {
        width: 20.1875vw;
        height: 48.0625vw;
    }
    
    #recco .wrap article.recruit hgroup h2 {
        padding: 11.25vw 0 11.25vw 6.25vw;
    }
    
    #recco .wrap article.recruit hgroup h3 {
        margin-left: 6.25vw;
        margin-top: 6.25vw;
        margin-bottom: 1.875vw;
    }
    
    #recco .wrap article.recruit > :not(hgroup) {
        margin-left: 6.25vw;
    }
    
    #recco .wrap article.recruit::after {
        height: 21.375vw;
    }
/*  오피스   */
    #office ul {
        height: 20.3125vw;
    }
    
/*  하단    */
    footer div.wrap {
        padding: 0 40px;
    }
    
    .padding50 {
        padding-top: 3.125vw;
        padding-bottom: 3.125vw;
    }
    
    footer div.wrap div.corp ul {
        transform: scale(0.8);
    }
}